Repository amalv/bukie: changes, and which lefthook commands are due for each by the changed paths.
All: biome, vitest

biome:
  run: bunx biome check --no-errors-on-unmatched {staged_files}

vitest:
  run: bun run test -- {staged_files}

style(app): add hero header and search box styles to match expected layout
  src/app/page.css.ts
  src/app/page.tsx
Due: biome

feat(search): polish SSR search UI and UX
  ROADMAP.md
  src/app/SearchForm.tsx
  src/app/page.css.ts
  src/app/page.tsx
  src/features/books/BookList.css.ts
  src/features/books/BookList.tsx
Due: biome

chore(release): 0.21.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  418ed692dce7739974bf6ef54669a7ed5e00b4af
Due: none

feat(design-system): add dark/light mode theming with SSR-safe toggle
  README.md
  ROADMAP.md
  docs/design-system/light-dark-mode.md
  docs/design-system/tokens.md
  src/app/Header.tsx
  src/app/header.css.ts
  src/app/layout.tsx
  src/app/page.css.ts
  src/design/theme/ThemeToggle.tsx
  src/design/theme/actions.ts
  src/design/tokens.css.ts
  src/features/books/BookDetails.css.ts
  src/features/books/BookList.css.ts
Due: biome

feat(theming): polish hero search + icon brand
  src/app/SearchForm.tsx
  src/app/header.css.ts
  src/app/layout.tsx
  src/app/page.css.ts
  src/app/page.tsx
  src/design/icons/Book.tsx
  src/design/theme/ThemeToggle.tsx
  src/design/theme/toggle.css.ts
  src/features/books/BookCard.css.ts
  src/features/books/BookList.css.ts
  src/features/books/BookList.tsx
Due: biome

test(layout): update RootLayout test to handle async rendering
  src/app/layout.test.tsx
Due: biome, vitest

chore(ci): restrict pre-commit vitest to src unit tests
  lefthook.yml
  tests/book-item.spec.ts
Due: biome, vitest

fix(theming): make theme cookie secure only in production
  src/app/layout.tsx
  src/design/theme/actions.ts
Due: biome

docs(roadmap): mark search items as done and add completed light/dark mode
  ROADMAP.md
Due: none

chore(release): 0.22.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  5bdef74ae68afcc7e9e7628a6a32f401a7da176f
Due: none

feat(pagination): add SSR-first cursor pagination with client append
  src/app/api/books/page/route.ts
  src/app/header.css.ts
  src/app/layout.tsx
  src/app/page.test.tsx
  src/app/page.tsx
  src/db/provider.ts
  src/features/books/BookList.css.ts
  src/features/books/LoadMoreClient.tsx
  src/features/books/PaginatedBooks.client.tsx
  src/features/books/data.ts
  src/features/books/pagination.ts
Due: biome, vitest

refactor(pagination): remove unused LoadMoreClient component per review
  src/db/provider.ts
  src/features/books/LoadMoreClient.tsx
Due: biome

test(e2e): make book item navigation selector robust to pagination and layout changes
  tests/book-item.spec.ts
Due: biome, vitest

chore(release): 0.23.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  a165d6f7b35352505dc626090d630e400c785af4
Due: none

feat(books): polish BookCard single-star rating and grid background
  src/features/books/BookCard.css.ts
  src/features/books/BookCard.test.tsx
  src/features/books/BookCard.tsx
  src/features/books/BookList.css.ts
  src/features/books/types.ts
  src/stories/BookCard.stories.tsx
Due: biome, vitest

feat(books): single-star rating and spacing polish on Book page and Card
  src/app/layout.tsx
  src/design/theme/ThemeToggle.tsx
  src/features/books/BookCard.tsx
  src/features/books/BookDetails.css.ts
  src/features/books/BookDetails.test.tsx
  src/features/books/BookDetails.tsx
  src/features/books/BookList.css.ts
  src/features/books/rating.ts
  src/stories/BookCard.stories.tsx
  src/types/lucide-ambient.d.ts
Due: biome, vitest

fix(books): remove stray $ in BookCard a11y string
  src/features/books/BookCard.tsx
Due: biome

chore(release): 0.24.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  862c48d5f8422fce40a6254c9ba79068fff2bd4d
Due: none

feat(homepage): add sections (New Arrivals, Top Rated, Trending Now)
  README.md
  ROADMAP.md
  docs/database-sections.md
  docs/index.md
  drizzle/0002_sections_and_metrics.sql
  drizzle/pg/0002_sections_and_metrics.sql
  scripts/db/seed.pg.ts
  scripts/db/seed.ts
  src/db/client.ts
  src/db/provider.ts
  src/db/schema.pg.ts
  src/db/schema.ts
  src/features/books/repo.ts
  src/features/books/types.ts
Due: biome

feat(homepage): add homepage sections (New Arrivals, Top Rated, Trending Now) and full test coverage
  mocks/handlers.ts
  src/app/Header.test.tsx
  src/app/SearchForm.test.tsx
  src/app/api/books/route.test.ts
  src/app/header.css.ts
  src/app/page.css.ts
  src/app/page.test.tsx
  src/app/page.tsx
  src/design/icons/Book.test.tsx
  src/design/theme/ThemeToggle.test.tsx
  src/design/tokens.css.ts
  src/features/books/BookCard.tsx
  src/features/books/BookList.css.ts
  src/features/books/BookList.tsx
  src/features/books/PaginatedBooks.client.test.tsx
  src/features/books/PaginatedBooks.client.tsx
  src/features/books/covers.helpers.test.ts
  src/features/books/data.test.ts
  src/features/books/pagination.test.ts
  src/features/books/rating.test.ts
  src/features/books/repo.test.ts
  vitest.setup.ts
Due: biome, vitest

fix(schema): ensure drizzle schema is created if not exists
  drizzle/pg/0000_slim_madripoor.sql
Due: none

feat(check): add script to check database migrations and columns
  drizzle/pg/meta/_journal.json
  scripts/db/check.pg.ts
Due: biome

feat(timestamps): update added_at and updated_at columns to bigint for epoch milliseconds
  drizzle/pg/0003_ms_timestamps.sql
  drizzle/pg/meta/_journal.json
  scripts/db/check.pg.ts
  src/db/schema.pg.ts
Due: biome

chore(release): 0.25.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  1f87d35c431caaa3866aaae481ce4f6a59c2b97b
Due: none

feat(tests): add unit tests for pagination, BookList, and theme actions; update coverage script
  package.json
  src/app/api/books/page/route.test.ts
  src/app/layout.test.tsx
  src/app/page.test.tsx
  src/design/theme/actions.test.ts
  src/features/books/BookList.test.tsx
  src/features/books/pagination.test.ts
  vitest.config.unit.ts
Due: biome, vitest

feat(tests): add unit tests for pageParams helpers and PaginatedBooks component
  src/app/helpers/pageParams.test.ts
  src/app/helpers/pageParams.ts
  src/app/layout.test.tsx
  src/app/page.test.tsx
  src/app/page.tsx
  src/design/theme/actions.test.ts
  src/features/books/PaginatedBooks.client.test.tsx
Due: biome, vitest

chore(release): 0.26.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  cd13b419472a70938f761ca6ef9a28edbf252f59
Due: none

feat(design): increase hero H1 prominence and book title scale for better hierarchy and contrast
  src/app/page.css.ts
  src/features/books/BookCard.css.ts
Due: biome

fix(books): restore listNewArrivals import
  src/app/page.css.ts
  src/app/page.tsx
Due: biome

feat(page): update section fallback to "all" and enhance "All Books" display logic
  src/app/api/books/page/route.ts
  src/app/api/books/route.ts
  src/app/page.tsx
Due: biome

chore(ui): centralize section header and books count
  src/app/page.tsx
Due: biome

chore(release): 0.27.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  ab48817734ee258a26568e3ceb10bcf52893b89f
Due: none

feat(design-system): compact BookCard UI and uniform media heights
  ROADMAP.md
  mocks/books.ts
  scripts/db/seed.ts
  src/design/layout/grid/grid.css.ts
  src/features/books/BookCard.css.ts
  src/features/books/BookCard.skeleton.css.ts
  src/features/books/BookCard.skeleton.tsx
  src/features/books/BookCard.test.tsx
  src/features/books/BookCard.tsx
  src/features/books/BookList.css.ts
Due: biome, vitest

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json}
  vitest: any of: *.{test,spec}.{js,jsx,ts,tsx}
