Repository amalv/bukie: changes, and which lefthook commands are due for each by the changed paths.
All: biome, vitest

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      run: bunx biome check --no-errors-on-unmatched {staged_files}
      glob: "*.{js,ts,jsx,tsx,json}"
    vitest:
      run: bun run test -- {staged_files}
      # Only run unit tests from src/ in pre-commit; exclude E2E tests under tests/
      glob: "src/**/*.{test,spec}.{js,jsx,ts,tsx}"
commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

chore(release): 0.30.3 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  3c1c5e5f84ecfbb975034e5c42f9f36cd786e4fd
Due: none

fix(media): fall back for unavailable covers
  .env.example
  README.md
  docs/adding-covers.md
  docs/covers-fetching.md
  docs/covers-flow.md
  docs/index.md
  docs/media-storage.md
  next.config.ts
  scripts/covers/fetch-covers.ts
  src/app/api/media/covers/[...coverPath]/route.test.ts
  src/app/api/media/covers/[...coverPath]/route.ts
  src/media/build-contract.test.ts
  src/media/config.ts
  src/media/covers.test.ts
  src/media/covers.ts
Due: biome, vitest

fix(media): harden cover publishing
  docs/adding-covers.md
  scripts/covers/fetch-covers.ts
  scripts/covers/run-cover-jobs.ts
  src/features/books/covers.jobs.test.ts
  src/media/covers.test.ts
  src/media/covers.ts
Due: biome, vitest

chore(release): 0.31.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  8f0f859cfd6c3f1b933cdde1ea8fba93ff80ce46
Due: none

fix(books): remove unavailable library actions
  ROADMAP.md
  src/features/books/BookCard.test.tsx
  src/features/books/BookCard.tsx
  tests/book-item.spec.ts
Due: biome, vitest

chore(release): 0.31.1 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  23827da30597a3fbaac2729b1c75c974bca46263
Due: none

fix(design-system): keep theme toggle interactive
  src/design/theme/ThemeToggle.test.tsx
  src/design/theme/ThemeToggle.tsx
  src/design/theme/actions.test.ts
  src/design/theme/actions.ts
  src/design/theme/preference.test.ts
  src/design/theme/preference.ts
  tests/theme-toggle.spec.ts
Due: biome, vitest

chore(release): 0.31.2 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  00b081906c454fd2db466749c83f154eaacb8b34
Due: none

docs(catalog): define metadata provenance architecture
  docs/decisions/0016-catalog-metadata-provenance.md
  docs/decisions/index.md
Due: none

docs(catalog): clarify provenance rollout
  docs/decisions/0016-catalog-metadata-provenance.md
Due: none

feat(ci): skip app checks for docs-only changes
  .github/workflows/biome.yml
  .github/workflows/docs.yml
  .github/workflows/playwright.yml
  .github/workflows/qlty.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/test.yml
  .markdownlint-cli2.jsonc
  docs/docs-only-validation.md
  vercel.json
Due: biome

chore(release): 0.32.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  0eeeb020bba121dd83f47e58af2aeb308f986fd2
Due: none

docs(books): define scalable card presentation
  docs/design-system/README.md
  docs/design-system/book-presentation.md
Due: none

feat(books): add evidence-aware presentations
  docs/design-system/book-presentation.md
  src/app/page.test.tsx
  src/design/layout/grid/Column.tsx
  src/design/layout/grid/Grid.tsx
  src/design/layout/grid/grid.module.css
  src/design/layout/grid/grid.test.ts
  src/design/layout/grid/grid.test.tsx
  src/features/books/BookCard.skeleton.tsx
  src/features/books/BookCard.test.tsx
  src/features/books/BookCard.tsx
  src/features/books/BookList.test.tsx
  src/features/books/BookList.tsx
  src/features/books/PaginatedBooks.client.tsx
  src/features/books/pageSize.ts
  src/features/books/presentation.test.ts
  src/features/books/presentation.ts
  src/features/books/types.ts
  src/stories/BookCard.stories.tsx
  src/stories/BookList.stories.tsx
  tests/book-presentation.spec.ts
Due: biome, vitest

fix(books): make cards fully clickable
  src/features/books/BookCard.tsx
  tests/book-presentation.spec.ts
Due: biome

fix(books): balance desktop card density
  docs/design-system/book-presentation.md
  src/features/books/BookList.module.css
  src/features/books/BookList.test.tsx
  src/features/books/BookList.tsx
  src/features/books/pageSize.ts
  tests/book-presentation.spec.ts
Due: biome, vitest

fix(books): cap wide catalog grids
  docs/design-system/book-presentation.md
  src/features/books/BookList.module.css
  src/features/books/pageSize.ts
  tests/book-presentation.spec.ts
Due: biome

chore(release): 0.33.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  0f079fd05471507ed39629e2448277ce2a34cff1
Due: none

feat(catalog): add normalized rebuild foundation
  bun.lock
  docs/catalog-rebuild.md
  docs/database-architecture.md
  drizzle.config.pg.ts
  drizzle.config.ts
  drizzle/0002_fine_bullseye.sql
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
  drizzle/pg/0004_spicy_jocasta.sql
  drizzle/pg/meta/0004_snapshot.json
  drizzle/pg/meta/_journal.json
  package.json
  scripts/db/rebuild-catalog.ts
  src/db/catalog/fixtures.ts
  src/db/catalog/identity.test.ts
  src/db/catalog/identity.ts
  src/db/catalog/importer.test.ts
  src/db/catalog/importer.ts
  src/db/catalog/normalize.test.ts
  src/db/catalog/normalize.ts
  src/db/catalog/postgres-rebuild.test.ts
  src/db/catalog/postgres-rebuild.ts
  src/db/catalog/rebuild-safety.test.ts
  src/db/catalog/rebuild-safety.ts
  src/db/catalog/resolver.test.ts
  src/db/catalog/resolver.ts
  src/db/catalog/schema-parity.test.ts
  src/db/catalog/schema.pg.ts
  src/db/catalog/schema.ts
  src/db/catalog/sqlite-rebuild.test.ts
  src/db/catalog/sqlite-rebuild.ts
  src/db/catalog/validate-graph.ts
  src/db/catalog/values.ts
Due: biome, vitest

test(catalog): stabilize covered import timing
  src/db/catalog/importer.test.ts
Due: biome, vitest

chore(release): 0.34.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  231236293467e61a665a5bc0b5ed29139e5266a8
Due: none

fix(ci): run Playwright with isolated server
  .github/workflows/playwright.yml
  scripts/test/run-playwright.mjs
Due: none

fix(catalog): validate migration link targets
  drizzle/0003_concerned_vance_astro.sql
  drizzle/pg/0005_sour_pretty_boy.sql
  src/db/catalog/sqlite-rebuild.test.ts
Due: biome, vitest

chore(release): 0.34.1 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  dbeae61c5a070f5470428d34400989c018972a7c
Due: none

docs(database): align deployment initialization
  docs/decisions/0010-database.md
Due: none

feat(search): add URL-driven catalog filters
  docs/database-architecture.md
  drizzle/0004_loose_tyrannus.sql
  drizzle/meta/0004_snapshot.json
  drizzle/meta/_journal.json
  drizzle/pg/0006_luxuriant_albert_cleary.sql
  drizzle/pg/meta/0006_snapshot.json
  drizzle/pg/meta/_journal.json
  src/app/CatalogFilters.test.tsx
  src/app/CatalogFilters.tsx
  src/app/SearchForm.test.tsx
  src/app/SearchForm.tsx
  src/app/api/books/page/route.test.ts
  src/app/api/books/page/route.ts
  src/app/api/books/route.test.ts
  src/app/api/books/route.ts
  src/app/components/BooksCount.tsx
  src/app/helpers/pageParams.test.ts
  src/app/helpers/pageParams.ts
  src/app/page.test.tsx
  src/app/page.tsx
  src/db/catalog/postgres-rebuild.test.ts
  src/db/catalog/repository.test.ts
  src/db/catalog/repository.ts
  src/db/catalog/schema-parity.test.ts
  src/db/catalog/schema.pg.ts
  src/db/catalog/schema.ts
  src/features/books/BookList.tsx
  src/features/books/PaginatedBooks.client.test.tsx
  src/features/books/PaginatedBooks.client.tsx
  src/features/books/catalogQuery.test.ts
  src/features/books/catalogQuery.ts
  src/features/books/pagination.test.ts
  src/features/books/pagination.ts
  src/features/books/repo.ts
  tests/all-books-pagination.spec.ts
  tests/book-presentation.spec.ts
  tests/catalog-filters.spec.ts
Due: biome, vitest

fix(search): bind cursors and reset controls
  docs/database-architecture.md
  src/app/page.tsx
  src/db/catalog/postgres-rebuild.test.ts
  src/db/catalog/repository.test.ts
  src/db/catalog/repository.ts
  src/features/books/catalogQuery.test.ts
  src/features/books/catalogQuery.ts
  src/features/books/pagination.test.ts
  src/features/books/pagination.ts
  tests/catalog-filters.spec.ts
Due: biome, vitest

chore(release): 0.35.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  3105773937547a8674fb6bc127d9fd874d7a1958
Due: none

feat(discovery): explain homepage sections
  ROADMAP.md
  docs/database-sections.md
  docs/evidence/109/README.md
  docs/evidence/109/after/desktop-1440.png
  docs/evidence/109/after/mobile-320.png
  docs/evidence/109/after/tablet-768.png
  docs/evidence/109/before/desktop-1440.png
  docs/evidence/109/before/mobile-320.png
  docs/evidence/109/before/tablet-768.png
  src/app/CatalogFilters.test.tsx
  src/app/CatalogFilters.tsx
  src/app/components/CategoryDiscovery.test.tsx
  src/app/components/CategoryDiscovery.tsx
  src/app/components/SectionHeader.test.tsx
  src/app/components/SectionHeader.tsx
  src/app/globals.css
  src/app/loading.tsx
  src/app/page.test.tsx
  src/app/page.tsx
  src/app/pageStyles.ts
  src/features/books/BookList.test.tsx
  src/features/books/BookList.tsx
  src/features/books/PaginatedBooks.client.tsx
  src/features/discovery/homeSections.test.ts
  src/features/discovery/homeSections.ts
  src/stories/BookList.stories.tsx
  src/stories/HomeDiscovery.stories.tsx
  tests/all-books-pagination.spec.ts
  tests/book-presentation.spec.ts
  tests/catalog-filters.spec.ts
  tests/homepage-discovery.spec.ts
  tests/normalized-catalog.spec.ts
Due: biome, vitest
