Repository amalv/bukie: changes, and which lefthook commands are due for each by the changed paths.
All: biome, vitest

biome:
  run: bunx biome check --no-errors-on-unmatched {staged_files}

vitest:
  run: bun run test -- {staged_files}

docs(discovery): refresh preview evidence
  docs/evidence/109/README.md
  docs/evidence/109/after/desktop-1440.png
  docs/evidence/109/after/mobile-320.png
  docs/evidence/109/after/tablet-768.png
Due: none

chore(release): 0.36.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  2f7aea9fca3bfe760d64ef240f1b35a2530a0bcf
Due: none

feat(books): add provenance-aware book details
  docs/database-architecture.md
  docs/evidence/112/README.md
  docs/evidence/112/after/complete-dune-desktop.png
  docs/evidence/112/after/complete-dune-mobile.png
  docs/evidence/112/after/complete-dune-provenance-desktop.png
  docs/evidence/112/after/complete-dune-tablet.png
  docs/evidence/112/after/partial-moby-dick-desktop.png
  docs/evidence/112/after/partial-moby-dick-mobile.png
  docs/evidence/112/after/partial-moby-dick-tablet.png
  docs/evidence/112/before/complete-dune-desktop.png
  docs/evidence/112/before/complete-dune-mobile.png
  docs/evidence/112/before/complete-dune-tablet.png
  docs/evidence/112/before/partial-moby-dick-desktop.png
  docs/evidence/112/before/partial-moby-dick-mobile.png
  docs/evidence/112/before/partial-moby-dick-tablet.png
  src/app/books/[id]/page.test.tsx
  src/app/books/[id]/page.tsx
  src/app/globals.css
  src/db/catalog/postgres-rebuild.test.ts
  src/db/catalog/repository.test.ts
  src/db/catalog/repository.ts
  src/features/books/BookDetails.test.tsx
  src/features/books/BookDetails.tsx
  src/features/books/detailPresentation.test.ts
  src/features/books/detailPresentation.ts
  src/features/books/types.ts
  src/stories/BookDetails.stories.tsx
  src/test/catalog-fixtures.ts
  tests/book-item.spec.ts
Due: biome, vitest

fix(books): tighten detail provenance and layout
  docs/database-architecture.md
  docs/evidence/112/README.md
  docs/evidence/112/after/complete-dune-desktop.png
  docs/evidence/112/after/complete-dune-mobile.png
  docs/evidence/112/after/complete-dune-provenance-desktop.png
  docs/evidence/112/after/complete-dune-tablet.png
  docs/evidence/112/after/partial-moby-dick-desktop.png
  docs/evidence/112/after/partial-moby-dick-mobile.png
  docs/evidence/112/after/partial-moby-dick-tablet.png
  docs/evidence/112/before/complete-dune-desktop.png
  docs/evidence/112/before/complete-dune-mobile.png
  docs/evidence/112/before/complete-dune-tablet.png
  docs/evidence/112/before/partial-moby-dick-desktop.png
  docs/evidence/112/before/partial-moby-dick-mobile.png
  docs/evidence/112/before/partial-moby-dick-tablet.png
  src/db/catalog/repository.test.ts
  src/db/catalog/repository.ts
  src/features/books/BookDetails.tsx
  src/features/books/detailPresentation.test.ts
  src/features/books/detailPresentation.ts
  tests/book-item.spec.ts
Due: biome, vitest

fix(books): make details reader-focused
  docs/database-architecture.md
  docs/design-system/book-presentation.md
  src/app/api/books/[id]/route.test.ts
  src/app/api/books/[id]/route.ts
  src/features/books/BookDetails.test.tsx
  src/features/books/BookDetails.tsx
  src/features/books/detailPresentation.test.ts
  src/features/books/detailPresentation.ts
  tests/book-item.spec.ts
Due: biome, vitest

fix(books): add focused detail loading state
  src/app/(catalog)/loading.tsx
  src/app/(catalog)/page.test.tsx
  src/app/(catalog)/page.tsx
  src/app/books/[id]/loading.test.tsx
  src/app/books/[id]/loading.tsx
  src/features/books/BookDetailsLoading.test.tsx
  src/features/books/BookDetailsLoading.tsx
  src/stories/BookDetailsLoading.stories.tsx
  tests/book-item.spec.ts
Due: biome, vitest

chore(release): 0.37.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  be4163a7668a0592107d7cb4476e46341b8b3830
Due: none

docs(catalog): benchmark book detail enrichment
  ROADMAP.md
  docs/database-architecture.md
  docs/decisions/0016-catalog-metadata-provenance.md
  docs/design-system/book-presentation.md
  docs/index.md
  docs/research/book-detail-enrichment.md
Due: none

docs(catalog): clarify provider operating constraints
  docs/research/book-detail-enrichment.md
Due: none

docs(catalog): verify benchmark in shared Chrome
  docs/research/book-detail-enrichment.md
Due: none

docs(catalog): focus research on durable evidence
  docs/research/book-detail-enrichment.md
Due: none

feat(catalog): add policy-gated enrichment adapters
  docs/catalog-enrichment.md
  docs/catalog-rebuild.md
  docs/database-architecture.md
  docs/index.md
  package.json
  scripts/db/run-enrichment-sample.ts
  src/db/catalog/enrichment/acquisition.test.ts
  src/db/catalog/enrichment/acquisition.ts
  src/db/catalog/enrichment/fixtures.ts
  src/db/catalog/enrichment/matching.ts
  src/db/catalog/enrichment/persistence.pg.test.ts
  src/db/catalog/enrichment/persistence.pg.ts
  src/db/catalog/enrichment/persistence.test.ts
  src/db/catalog/enrichment/persistence.ts
  src/db/catalog/enrichment/policies.ts
  src/db/catalog/enrichment/policy-matching.test.ts
  src/db/catalog/enrichment/sample-manifest.ts
  src/db/catalog/enrichment/types.ts
  src/db/catalog/enrichment/workflow.test.ts
  src/db/catalog/enrichment/workflow.ts
Due: biome, vitest

refactor(catalog): inject enrichment scope manifests
  docs/catalog-enrichment.md
  scripts/db/run-enrichment-sample.ts
  src/db/catalog/enrichment/matching.ts
  src/db/catalog/enrichment/persistence.pg.test.ts
  src/db/catalog/enrichment/persistence.test.ts
  src/db/catalog/enrichment/policy-matching.test.ts
  src/db/catalog/enrichment/sample-manifest.ts
  src/db/catalog/enrichment/types.ts
  src/db/catalog/enrichment/workflow.test.ts
  src/db/catalog/enrichment/workflow.ts
Due: biome, vitest

fix(catalog): enforce immutable enrichment revisions
  .github/workflows/test.yml
  docs/catalog-enrichment.md
  src/db/catalog/enrichment/acquisition.test.ts
  src/db/catalog/enrichment/acquisition.ts
  src/db/catalog/enrichment/persistence.pg.test.ts
  src/db/catalog/enrichment/persistence.pg.ts
  src/db/catalog/enrichment/persistence.test.ts
  src/db/catalog/enrichment/persistence.ts
  src/db/catalog/enrichment/types.ts
  src/db/catalog/enrichment/workflow.test.ts
  src/db/catalog/enrichment/workflow.ts
Due: biome, vitest

ci(catalog): scope postgres enrichment check
  .github/workflows/test.yml
Due: none

chore(release): 0.38.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  5df59d14a092466a37722e276f79d1d7a53a1acd
Due: none

feat(catalog): resolve work first publication
  .github/workflows/test.yml
  docs/catalog-enrichment.md
  docs/database-architecture.md
  docs/decisions/0016-catalog-metadata-provenance.md
  drizzle/0005_cuddly_bloodscream.sql
  drizzle/meta/0005_snapshot.json
  drizzle/meta/_journal.json
  drizzle/pg/0007_third_blizzard.sql
  drizzle/pg/meta/0007_snapshot.json
  drizzle/pg/meta/_journal.json
  src/app/api/books/[id]/route.test.ts
  src/app/books/[id]/page.test.tsx
  src/db/catalog/enrichment/policies.ts
  src/db/catalog/enrichment/workflow.test.ts
  src/db/catalog/importer.test.ts
  src/db/catalog/importer.ts
  src/db/catalog/repository.test.ts
  src/db/catalog/repository.ts
  src/db/catalog/resolver.test.ts
  src/db/catalog/resolver.ts
  src/db/catalog/schema-parity.test.ts
  src/db/catalog/schema.pg.ts
  src/db/catalog/schema.ts
  src/db/catalog/values.ts
  src/db/catalog/work-first-publication-migration.test.ts
  src/db/catalog/work-first-publication.pg.test.ts
  src/db/catalog/work-first-publication.test.ts
  src/db/catalog/work-first-publication.ts
  src/features/books/BookDetails.test.tsx
  src/features/books/BookDetails.tsx
  src/features/books/detailPresentation.test.ts
  src/features/books/detailPresentation.ts
  src/features/books/types.ts
  src/test/catalog-fixtures.ts
Due: biome, vitest

test(catalog): use postgres epoch timestamps
  src/db/catalog/work-first-publication.pg.test.ts
Due: biome, vitest

fix(catalog): persist postgres resolution epochs
  src/db/catalog/work-first-publication.ts
Due: biome

fix(catalog): enforce field display policy
  src/app/api/books/[id]/route.test.ts
  src/app/books/[id]/page.test.tsx
  src/db/catalog/policy-eligibility.test.ts
  src/db/catalog/policy-eligibility.ts
  src/db/catalog/repository.ts
  src/db/catalog/work-first-publication.test.ts
  src/db/catalog/work-first-publication.ts
Due: biome, vitest

chore(release): 0.39.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  799d60f09c05aaf8c8f6bba4f3cae157fbad1bbf
Due: none

feat(catalog): gate description enrichment
  .github/workflows/test.yml
  docs/catalog-enrichment.md
  docs/database-architecture.md
  docs/decisions/0016-catalog-metadata-provenance.md
  drizzle/0006_legal_trish_tilby.sql
  drizzle/meta/0006_snapshot.json
  drizzle/meta/_journal.json
  drizzle/pg/0008_gifted_typhoid_mary.sql
  drizzle/pg/meta/0008_snapshot.json
  drizzle/pg/meta/_journal.json
  package.json
  scripts/db/run-description-enrichment-sample.ts
  src/db/catalog/enrichment/descriptions/fixtures.ts
  src/db/catalog/enrichment/descriptions/repository.pg.test.ts
  src/db/catalog/enrichment/descriptions/repository.pg.ts
  src/db/catalog/enrichment/descriptions/repository.test.ts
  src/db/catalog/enrichment/descriptions/repository.ts
  src/db/catalog/enrichment/descriptions/types.ts
  src/db/catalog/enrichment/descriptions/validation.test.ts
  src/db/catalog/enrichment/descriptions/validation.ts
  src/db/catalog/postgres-rebuild.ts
  src/db/catalog/repository.ts
  src/db/catalog/schema-parity.test.ts
  src/db/catalog/schema.pg.ts
  src/db/catalog/schema.ts
  src/db/catalog/sqlite-rebuild.ts
  src/db/catalog/values.ts
Due: biome, vitest

fix(catalog): normalize description postgres results
  src/db/catalog/enrichment/descriptions/repository.pg.test.ts
  src/db/catalog/enrichment/descriptions/repository.pg.ts
Due: biome, vitest

fix(catalog): close description review gaps
  docs/catalog-enrichment.md
  docs/decisions/0016-catalog-metadata-provenance.md
  drizzle/0007_milky_omega_red.sql
  drizzle/meta/0007_snapshot.json
  drizzle/meta/_journal.json
  drizzle/pg/0009_moaning_catseye.sql
  drizzle/pg/meta/0009_snapshot.json
  drizzle/pg/meta/_journal.json
  scripts/db/run-description-enrichment-sample.ts
  src/db/catalog/description-migration.test.ts
  src/db/catalog/enrichment/descriptions/fixtures.ts
  src/db/catalog/enrichment/descriptions/repository.pg.test.ts
  src/db/catalog/enrichment/descriptions/repository.pg.ts
  src/db/catalog/enrichment/descriptions/repository.test.ts
  src/db/catalog/enrichment/descriptions/repository.ts
  src/db/catalog/enrichment/descriptions/types.ts
  src/db/catalog/enrichment/descriptions/validation.test.ts
  src/db/catalog/enrichment/descriptions/validation.ts
  src/db/catalog/repository.ts
  src/db/catalog/schema-parity.test.ts
  src/db/catalog/schema.pg.ts
  src/db/catalog/schema.ts
Due: biome, vitest

test(catalog): align postgres description fixtures
  src/db/catalog/enrichment/descriptions/repository.pg.test.ts
Due: biome, vitest

chore(release): 0.40.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  d0fff40ed6bd34933c7e2a0eeb2871005477113e
Due: none

feat(catalog): verify edition-matched cover assets
  .github/workflows/test.yml
  docs/adding-covers.md
  docs/catalog-enrichment.md
  drizzle/0008_aspiring_karma.sql
  drizzle/meta/0008_snapshot.json
  drizzle/meta/_journal.json
  drizzle/pg/0010_clammy_cerebro.sql
  drizzle/pg/meta/0010_snapshot.json
  drizzle/pg/meta/_journal.json
  package.json
  scripts/covers/fetch-covers.ts
  scripts/covers/helpers.ts
  scripts/covers/policy.ts
  scripts/db/run-cover-enrichment-sample.ts
  src/db/catalog/cover-migration.test.ts
  src/db/catalog/enrichment/covers/fixtures.ts
  src/db/catalog/enrichment/covers/inspection.test.ts
  src/db/catalog/enrichment/covers/inspection.ts
  src/db/catalog/enrichment/covers/repository.pg.test.ts
  src/db/catalog/enrichment/covers/repository.pg.ts
  src/db/catalog/enrichment/covers/repository.test.ts
  src/db/catalog/enrichment/covers/repository.ts
  src/db/catalog/enrichment/covers/types.ts
  src/db/catalog/enrichment/covers/validation.ts
  src/db/catalog/enrichment/policies.ts
  src/db/catalog/postgres-rebuild.ts
  src/db/catalog/schema.pg.ts
  src/db/catalog/schema.ts
  src/db/catalog/sqlite-rebuild.ts
  src/db/catalog/values.ts
  src/features/books/covers.helpers.test.ts
Due: biome, vitest

fix(catalog): close cover lifecycle review gaps
  docs/catalog-enrichment.md
  src/db/catalog/enrichment/covers/fixtures.ts
  src/db/catalog/enrichment/covers/inspection.ts
  src/db/catalog/enrichment/covers/repository.pg.test.ts
  src/db/catalog/enrichment/covers/repository.pg.ts
  src/db/catalog/enrichment/covers/repository.test.ts
  src/db/catalog/enrichment/covers/repository.ts
  src/db/catalog/enrichment/covers/validation.ts
Due: biome, vitest

chore(release): 0.41.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  828ffcc1fe9345ad9794b7a38d771dcf3ad1507f
Due: none

feat(catalog): add isolated enrichment dry run
  .github/workflows/test.yml
  docs/catalog-enrichment-promotion-proposal.md
  docs/catalog-enrichment.md
  docs/reports/catalog-enrichment-dry-run-2026-07-29.json
  package.json
  scripts/db/run-catalog-enrichment-dry-run.ts
  src/db/catalog/enrichment/catalog-dry-run-execution.ts
  src/db/catalog/enrichment/catalog-dry-run-safety.test.ts
  src/db/catalog/enrichment/catalog-dry-run-safety.ts
  src/db/catalog/enrichment/catalog-dry-run-snapshots.ts
  src/db/catalog/enrichment/catalog-dry-run.pg.test.ts
  src/db/catalog/enrichment/catalog-dry-run.test.ts
  src/db/catalog/enrichment/catalog-dry-run.ts
Due: biome, vitest

fix(catalog): normalize dry-run publication evidence
  docs/catalog-enrichment.md
  docs/reports/catalog-enrichment-dry-run-2026-07-29.json
  src/db/catalog/enrichment/catalog-dry-run.ts
Due: biome

test(catalog): allow dry-run coverage overhead
  src/db/catalog/enrichment/catalog-dry-run.test.ts
Due: biome, vitest

fix(catalog): normalize active postgres targets
  src/db/catalog/enrichment/catalog-dry-run-safety.test.ts
  src/db/catalog/rebuild-safety.test.ts
  src/db/catalog/rebuild-safety.ts
Due: biome, vitest

chore(release): 0.42.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json}
  vitest: any of: src/**/*.{test,spec}.{js,jsx,ts,tsx}
