Repository amalv/bukie: changes, and which lefthook commands are due for each by the changed paths.
All: biome, vitest

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      run: bunx biome check --no-errors-on-unmatched {staged_files}
      glob: "*.{js,ts,jsx,tsx,json}"
    vitest:
      run: bun run test -- {staged_files}
      # Only run unit tests from src/ in pre-commit; exclude E2E tests under tests/
      glob: "src/**/*.{test,spec}.{js,jsx,ts,tsx}"
commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

Notes added by 'git notes add'
  d49fbfd3a49b12143f8102d93992f76f0728fadf
Due: none

feat(catalog): promote reviewed diagnostic enrichment
  .github/workflows/test.yml
  docs/catalog-enrichment-promotion-proposal.md
  docs/catalog-enrichment.md
  docs/database-architecture.md
  scripts/db/run-catalog-enrichment-dry-run.ts
  src/db/catalog/enrichment/catalog-dry-run.pg.test.ts
  src/db/catalog/enrichment/catalog-dry-run.test.ts
  src/db/catalog/enrichment/diagnostic-five-promotion-repository.test.ts
  src/db/catalog/enrichment/diagnostic-five-promotion-repository.ts
  src/db/catalog/enrichment/diagnostic-five-promotion.pg.test.ts
  src/db/catalog/enrichment/diagnostic-five-promotion.test.ts
  src/db/catalog/enrichment/diagnostic-five-promotion.ts
  src/db/catalog/importer.test.ts
  src/db/catalog/importer.ts
  src/db/catalog/sqlite-rebuild.test.ts
Due: biome, vitest

fix(catalog): preserve postgres epoch parity
  src/db/catalog/enrichment/diagnostic-five-promotion-repository.ts
Due: biome

fix(catalog): bind postgres promotion rows explicitly
  src/db/catalog/enrichment/diagnostic-five-promotion-repository.ts
Due: biome

fix(catalog): compare postgres policies in database
  src/db/catalog/enrichment/diagnostic-five-promotion-repository.ts
Due: biome

test(catalog): allow promotion coverage overhead
  src/db/catalog/enrichment/diagnostic-five-promotion.test.ts
Due: biome, vitest

feat(catalog): promote diagnostic PoC covers
  docs/adding-covers.md
  docs/catalog-enrichment-promotion-proposal.md
  docs/catalog-enrichment.md
  docs/database-architecture.md
  docs/media-storage.md
  package.json
  scripts/db/promote-diagnostic-five-preview.ts
  src/db/catalog/enrichment/catalog-dry-run.test.ts
  src/db/catalog/enrichment/covers/repository.pg.ts
  src/db/catalog/enrichment/covers/repository.test.ts
  src/db/catalog/enrichment/covers/repository.ts
  src/db/catalog/enrichment/covers/types.ts
  src/db/catalog/enrichment/covers/validation.ts
  src/db/catalog/enrichment/diagnostic-five-cover-promotion.test.ts
  src/db/catalog/enrichment/diagnostic-five-cover-promotion.ts
  src/db/catalog/enrichment/diagnostic-five-promotion-repository.test.ts
  src/db/catalog/enrichment/diagnostic-five-promotion-repository.ts
  src/db/catalog/enrichment/diagnostic-five-promotion.pg.test.ts
  src/db/catalog/enrichment/diagnostic-five-promotion.test.ts
  src/db/catalog/enrichment/diagnostic-five-promotion.ts
  src/db/catalog/importer.test.ts
  src/db/catalog/importer.ts
  src/db/catalog/postgres-rebuild.ts
  src/db/catalog/repository.test.ts
  src/db/catalog/repository.ts
  src/db/catalog/sqlite-rebuild.test.ts
  src/db/catalog/sqlite-rebuild.ts
  src/db/catalog/validate-graph.ts
  src/features/books/BookCard.tsx
  src/features/books/BookDetails.test.tsx
  src/features/books/BookDetails.tsx
  src/features/books/types.ts
Due: biome, vitest

fix(catalog): audit PostgreSQL cover promotion
  src/db/catalog/enrichment/diagnostic-five-promotion-repository.ts
Due: biome

test(catalog): report promotion gate drift
  src/db/catalog/enrichment/diagnostic-five-promotion-repository.ts
Due: biome

fix(catalog): persist promotion JSON consistently
  src/db/catalog/enrichment/diagnostic-five-promotion-repository.ts
Due: biome

test(catalog): withdraw work cover fallback
  tests/book-item.spec.ts
Due: biome

fix(catalog): allow promotion against the shared Neon database
  docs/catalog-enrichment-promotion-proposal.md
  docs/database-architecture.md
  scripts/db/promote-diagnostic-five-preview.ts
  src/db/catalog/enrichment/diagnostic-five-promotion-repository.test.ts
  src/db/catalog/enrichment/diagnostic-five-promotion-repository.ts
Due: biome, vitest

test(catalog): raise cover promotion timeout
  src/db/catalog/enrichment/diagnostic-five-cover-promotion.test.ts
Due: biome, vitest

test(catalog): remove redundant cover promotion test
  src/db/catalog/enrichment/diagnostic-five-cover-promotion.test.ts
Due: biome, vitest

chore(release): 0.43.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  4848cdbd8d23f931fc5daf07f5deb7a813ab9898
Due: none
