Repository amalv/bukie: changes, and which lefthook commands are due for each by the changed paths.
All: biome, vitest

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      run: bunx biome check --no-errors-on-unmatched {staged_files}
      glob: "*.{js,ts,jsx,tsx,json}"
    vitest:
      run: bun run test -- {staged_files}
      # Only run unit tests from src/ in pre-commit; exclude E2E tests under tests/
      glob: "src/**/*.{test,spec}.{js,jsx,ts,tsx}"
commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

fix(design-system): make BookCard heart icon non-interactive to avoid test collisions
  src/features/books/BookCard.css.ts
  src/features/books/BookCard.tsx
Due: biome

perf(images): reduce BookCard intrinsic size to 427x240 to avoid unnecessary bandwidth
  src/features/books/BookCard.tsx
Due: biome

Notes added by 'git notes add'
  ef9cced884895ad6ec55977f9ac85ad2c2d0b594
Due: none

chore(release): 0.28.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

chore(tests): make tests side-effect free and add db:list helper
  CHANGELOG.md
  package.json
  scripts/db/list-books.ts
  vitest.setup.ts
Due: biome

test(mock): make provider mock opt-out via TEST_USE_REAL_DB; docs: document mock
  docs/testing.md
  vitest.setup.ts
Due: biome

refactor(provider): export provider object and use stable UUID ids
  scripts/db/sync-covers.ts
  src/db/provider.ts
  src/features/books/data.ts
  src/features/books/repo.test.ts
  src/features/books/repo.ts
  vitest.setup.ts
Due: biome, vitest

refactor(provider): simplify provider type definition and maintain backwards compatibility
  src/db/provider.ts
Due: biome

refactor(page): modularize page.tsx by extracting components and helpers
  ROADMAP.md
  bun.lock
  package.json
  src/app/components/BooksCount.test.tsx
  src/app/components/BooksCount.tsx
  src/app/components/SectionHeader.test.tsx
  src/app/components/SectionHeader.tsx
  src/app/helpers/sectionHeader.test.tsx
  src/app/helpers/sectionHeader.tsx
  src/app/page.tsx
Due: biome, vitest

refactor(accessibility): improve ID generation and test clarity
  biome.json
  src/app/SearchForm.tsx
  src/app/books/[id]/page.test.tsx
  src/app/layout.tsx
  src/design/layout/grid/helpers.test.ts
  src/features/books/BookDetails.tsx
  src/stories/Page.tsx
Due: biome, vitest

feat(layout): polish footer, match header branding
  src/app/footer.css.ts
  src/app/header.css.ts
  src/app/layout.tsx
  src/features/books/BookCard.css.ts
  src/features/books/BookCard.tsx
Due: biome

chore(release): 0.29.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  4ec0b71761ebbf5e9a4eec9adec8aeb53867dfe8
Due: none

refactor(db): add shared ingest and wire importer + seeds
  .github/workflows/importer-dryrun.yml
  README.md
  artifacts/README.md
  artifacts/report-sample.json
  artifacts/report-sample.md
  docs/books-steps.md
  docs/covers-fetching.md
  docs/database-architecture.md
  mocks/books.ts
  package.json
  scripts/db/import-batch.ts
  scripts/db/report-summary.ts
  scripts/db/seed.pg.ts
  scripts/db/seed.ts
  src/db/ingest.ts
  src/features/books/importer/validate.spec.ts
  src/features/books/importer/validate.ts
  src/features/books/repo.ts
  src/features/books/types.ts
  status.md
Due: biome, vitest

fix(ci): repair PR test and storybook checks
  .storybook/main.ts
  artifacts/catalog/build.ts
  src/app/api/books/[id]/route.test.ts
  src/stories/BookList.stories.tsx
Due: biome, vitest

fix(e2e): accept canonical book ids in detail navigation
  tests/book-item.spec.ts
Due: biome

fix(build): normalize sci-fi catalog encoding
  artifacts/catalog/sci-fi.ts
Due: biome

fix(deps): upgrade next.js to latest
  bun.lock
  package.json
Due: biome

refactor(ui): make book card more compact with proper cover proportions
  lefthook.yml
  src/app/globals.css
  src/features/books/BookCard.tsx
  src/features/books/BookList.tsx
Due: biome

fix(ci): update storybook for next 16
  bun.lock
  package.json
  src/features/books/BookCard.tsx
Due: biome

Notes added by 'git notes add'
  b6d15ac9300f7cbb9dd3a681d9a43efad44dd194
Due: none

chore(release): 0.30.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

fix(books): fill all-books rows across breakpoints
  playwright.config.ts
  src/app/api/books/page/route.test.ts
  src/app/api/books/page/route.ts
  src/app/components/BooksCount.test.tsx
  src/app/components/BooksCount.tsx
  src/app/page.test.tsx
  src/app/page.tsx
  src/features/books/PaginatedBooks.client.test.tsx
  src/features/books/PaginatedBooks.client.tsx
  src/features/books/data.ts
  src/features/books/pageSize.ts
  tests/all-books-pagination.spec.ts
  tests/book-item.spec.ts
  tests/example.spec.ts
Due: biome, vitest

chore(release): 0.30.1 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  2dd8478a4e1a59f79aab2afcf57509e914ac3399
Due: none

chore(repo): add pull request template
  .github/pull_request_template.md
Due: none

chore(repo): ignore local importer reports
  .gitignore
Due: none

chore(repo): add markdown issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/work_item.md
Due: none

chore(repo): align template label guidance
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/work_item.md
  .github/pull_request_template.md
Due: none

docs(covers): align cover workflow guidance
  docs/books-steps.md
  docs/covers-flow.md
Due: none

chore(repo): simplify PR template UX notes
  .github/pull_request_template.md
Due: none

fix(next): restore turbopack on windows
  bun.lock
  package.json
  scripts/next-cli.cjs
Due: biome

chore(release): 0.30.2 [skip ci]
  CHANGELOG.md
  package.json
Due: biome

Notes added by 'git notes add'
  397c2c7e181dd37126aed2794e343bfd76f3cd6b
Due: none

chore: refresh toolchain and platform docs
  .github/workflows/biome.yml
  .github/workflows/playwright.yml
  .github/workflows/qlty.yml
  .github/workflows/release.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/test.yml
  .nvmrc
  .storybook/main.ts
  README.md
  ROADMAP.md
  biome.json
  bun.lock
  docs/decisions/0001-initial-tech-stack.md
  docs/decisions/0005-backend-framework.md
  docs/decisions/0006-api-architecture.md
  docs/decisions/0007-authentication.md
  docs/decisions/0009-infrastructure-as-code.md
  docs/decisions/0012-package-manager.md
  docs/decisions/index.md
  package.json
  src/app/books/[id]/page.test.tsx
  src/app/globals.css
  src/design/theme/actions.test.ts
  vitest.config.storybook.ts
  vitest.config.unit.ts
  vitest.setup.ts
Due: biome, vitest

fix(ci): pin Node version in release workflow
  .github/workflows/release.yml
Due: none
